# Editor temporaries
*~
*.swp

# OSX dir files
.DS_Store

# Compiled python
*.pyc


# IPython notebook checkpoints
*/.ipynb_checkpoints

# Mix recipe - Key

Mixture.ipynb

# Mixture Keys Folders
Mixture_keys/*

